@page
@model PokeRepo.Pages.DetailsModel
@{
}



@if(Model.Pokemon != null)
{
	<img src="@Model.Pokemon.Sprites.FrontDefault" width="150" height="150" />
	<h1>@(char.ToUpper(Model.Pokemon.Name[0]) + Model.Pokemon.Name.Substring(1).ToLower())</h1>
	<h5>Height: @Model.Pokemon.Height</h5>
	<h5>Weight: @Model.Pokemon.Weight</h5>
	<h5>Experience: @Model.Pokemon.BaseExperience</h5>

}

